.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
   font-family: main_font;
   src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

body {
   margin: 0;
   padding: 0;
   font-family: main_font;
}

.card {
   background-image: linear-gradient(#6743FF, hsl(241, 81%, 54%));
   color: white;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   border-radius: 40px;
   transform: translate(0, -40px);
   padding-top: 40px;
}

.circle {
   display: flex;
   flex-direction: column;
   position: absolute;
   padding: 20px;
   background-image: linear-gradient(#4B22CC, #4734F0);
   border-radius: 100%;
   width: 100px;
   height: 100px;
   margin-top: 80px;
   align-items: center;
}

.circle h1 {
   font-size: 70px;
   margin-top: 0px;
}

.circle p {
   font-size: 15px;
   color: rgba(255, 255, 255, 0.443);
   margin-top: -60px;
}

.content {
   margin-top: 150px;
   text-align: center;
   width: 80%;
}

.content p {
   font-size: 15px;
   color: rgba(255, 255, 255, 0.702);
}

.body-wrapper {
   margin-top: -60px;
   margin-bottom: 100px;
   padding: 30px;
}

.body-wrapper h3 {
   font-size: 22px;
}

.summary {
   display: flex;
   flex-direction: column;
   gap: 18px;
   margin-top: 30px;
}

.icon {
   width: 25px;
   margin-right: 10px;
}

.s-card-left {
   display: flex;
}

.s-card-right {
   display: flex;
   margin-right: 20px;
}

.bold {
   font-weight: 800;
   margin-right: 8px;
}

.light {
   color: rgba(0, 0, 0, 0.419);
   font-weight: 700;
}

.tag {
   font-weight: 800;
   margin-right: 10px;
   color: rgba(255, 0, 0, 0.579);
}

.s-card {
   height: 60px;
   display: flex;
   align-items: center;
   padding-left: 15px;
   background-color: rgba(255, 0, 0, 0.062);
   border-radius: 10px;
   justify-content: space-between;
}

#s-card2 {
   background-color: rgba(255, 225, 0, 0.105);
}

#s-card2 .tag {
   color: rgb(255, 187, 0);
}

#s-card3 {
   background-color: rgba(0, 238, 255, 0.102);
}

#s-card3 .tag {
   color: rgb(0, 210, 172);
}

#s-card4 {
   background-color: rgba(0, 0, 149, 0.055);
}

#s-card4 .tag {
   color: rgba(47, 37, 222, 0.808);
}

.btn {
   margin-bottom: -100px;
}

.btn button {
   font: inherit;
   width: 100%;
   border: none;
   margin-top: 20px;
   color: white;
   font-weight: 600;
   background-color: #303B59;
   height: 50px;
   border-radius: 100px;
}

.btn button:hover {
   cursor: pointer;
   background-image: linear-gradient(#6745FB, #322DEA);
}

.attribution {
   margin-bottom: 50px;
}

@media only screen and (min-width: 1000px) {
   
   body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .body-card {
      margin-top: 100px;
      height: 600px;
      width: 80%;
      border-radius: 40px;
      display: flex;
      box-shadow: 0px 10px 31px -11px rgba(0,0,0,0.42);
   }

   .card {
      transform: translate(0, 0);
      height: inherit;
      padding:0;
      width: 50%;
   }

   .card h4 {
      font-size: 30px;
   }

   .circle {
      margin-top: 130px;
      width: 180px;
      height: 180px;
      justify-content: center;
   }

   .circle h1 {
      margin-top: 20px;
   }

   .circle p {
      font-size: 20px;
      margin-top: -50px;
   }


   .attribution {
      margin-top: 100px;
   }

   .content {
      margin-top: 270px;
      width: 60%;
   }

   .content p {
      font-size: 20px;
   }

   .body-wrapper {
      height: 100%;
      margin: 0;
      padding: 40px;
      width: 50%;
   }

   .body-wrapper h3 {
      font-size: 25px;
   }

   .btn {
      margin-top: 30px;
   }

   .btn button {
      height: 60px;
   }

}